*{
	box-sizing: border-box;
}

.give-space{
	margin-right: 10px;
}
#admin-container{
	background-color: #fff;
	display: flex;
}

#dashboard-container{
	background-color: #fff;
	display: flex;
	margin-bottom: 15px;
}

#dash{
	flex: 3;
}

#dash-admin-name{
	flex: 1;
}

#dash-admin-notification{
	flex: 1;
	text-align: center;
}
#dash-admin-editProfile{
	flex: 1;
	text-align: center;
}
#dash-admin-notification i{
	
}



#menu-box{
	flex: 3;
	box-sizing: border-box;
	padding-top: 23px;
}

.menu-box-item{
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	margin-bottom: 22px;
}

.menu-box-item h3{
	background-color: #f8f8f8;
	padding: 10px;
	margin-top: 0px;
}

.menu-box-item ul{
	list-style: none;
}

.menu-box-item ul li{

}

.menu-box-item ul li a{
	text-decoration: none;
}



#content-box{
	flex: 7;
	box-sizing: border-box;
	padding: 25px;
	border: 1px solid #f2f2f2;
	margin-left: 15px;
	margin-top: 23px;
	margin-bottom: 22px;

}

#admin-edit-table a.btn{
	box-sizing: border-box;
}